PUTHON 
        WEEK 1
                ASSIGNMENT SOLUTION
                                    BY-SADDAM ANSARI
                                                      FOR PW SKILLS

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
#strin
a='saddam ansari'

In [2]:
a

'saddam ansari'

In [6]:
type(a)

str

In [3]:
#list
b=[1,2,3,4,5,'saddam','ansari','pwskills',223.4,True]

In [4]:
b

[1, 2, 3, 4, 5, 'saddam', 'ansari', 'pwskills', 223.4, True]

In [5]:
type(b)

list

In [7]:
#float
c=33.43

In [8]:
c

33.43

In [9]:
type(c)

float

In [10]:
#tuple

In [11]:
d=(1,2,3,4,5,'saddam','ansari','pwskills',55.2,True)

In [12]:
d

(1, 2, 3, 4, 5, 'saddam', 'ansari', 'pwskills', 55.2, True)

In [13]:
type(d)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [14]:
#1
var1=''

In [15]:
type(var1)

str

In [16]:
#2
var2='[DS,ML,PYTHON]'

In [17]:
type(var2)

str

In [18]:
#3
var3=['DS','ML','Python']

In [19]:
type(var3)

list

In [20]:
#4
var4=1

In [21]:
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

The '/' operator in Python is used for division. It performs floating-point division, meaning it returns the quotient as a floating-point number.

In [26]:
#1. /
x = 10
y = 3
result = x / y
print(result)

3.3333333333333335

The '%' operator in Python is called the modulo or remainder operator. It returns the remainder of the division between two numbers.

In [27]:
#2. %
x = 10
y = 3
result = x % y
print(result)

1

The '//' operator in Python is known as the floor division operator. It performs division similar to the '/' operator, but it returns the quotient rounded down to the nearest whole number (floor).

In [29]:
#3. //
x = 10
y = 3
result = x // y
print(result)

3

The '**' operator in Python is used for exponentiation or raising a number to a power. It calculates the value of the base raised to the power of the exponent.

In [30]:
#4. **
x = 2
y = 3
result = x ** y
print(result)

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [32]:
l=[1,2,3,4,5,'saddam','ansari','pwskills','datascience',True,12.4321]
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
saddam
<class 'str'>
ansari
<class 'str'>
pwskills
<class 'str'>
datascience
<class 'str'>
True
<class 'bool'>
12.4321
<class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [33]:
A = 100
B = 5
count = 0

while A % B == 0:
    A = A // B
    count += 1

print("Number of times A is divisible by B:", count)

Number of times A is divisible by B: 2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [37]:
my_list=[85,45,12,4,5,15,64,54,215,67,54,125,45,78,652,10,22,154,36,45,485,6541,254,547,65,]

In [38]:
my_list

[85,
 45,
 12,
 4,
 5,
 15,
 64,
 54,
 215,
 67,
 54,
 125,
 45,
 78,
 652,
 10,
 22,
 154,
 36,
 45,
 485,
 6541,
 254,
 547,
 65]

In [39]:
for element in my_list:
    if element % 3==0:
        print(element,'element is divisible')
    else:
        print(element,'element is not divisible')

85 element is not divisible
45 element is divisible
12 element is divisible
4 element is not divisible
5 element is not divisible
15 element is divisible
64 element is not divisible
54 element is divisible
215 element is not divisible
67 element is not divisible
54 element is divisible
125 element is not divisible
45 element is divisible
78 element is divisible
652 element is not divisible
10 element is not divisible
22 element is not divisible
154 element is not divisible
36 element is divisible
45 element is divisible
485 element is not divisible
6541 element is not divisible
254 element is not divisible
547 element is not divisible
65 element is not divisible

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [45]:
#immutabele
name='saddam'

In [41]:
name

'saddam'

In [42]:
name[1]

'a'

In [44]:
name[2]='s' # when i try to change its give a error. because str is a immutable

TypeError: 'str' object does not support item assignment

In [47]:
#mutable
ll=[1,2,3,4,'saddam','data engineer','helps with pw skills']

In [48]:
ll

[1, 2, 3, 4, 'saddam', 'data engineer', 'helps with pw skills']

In [49]:
ll[2]

3

In [52]:
ll[6]='helps by sudhansu sir' #here i want to change a 6 number data to required data its work succesfuly. Thats why its a mutable in nature

In [51]:
ll

[1, 2, 3, 4, 'saddam', 'data engineer', 'helps by sudhansu sir']

Saddam Ansari
Place-Sahasa
Date-05/06/2023